@model Aiursoft.UiStack.Views.Shared.Components.LanguagesDropdown.LanguagesDropdownViewModel

<li class="nav-item dropdown">
    <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
        <img src="/node_modules/@@aiursoft/uistack/dist/img/flags/us.png" alt="English"/>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
        <a class="dropdown-item" href="#">
            <img src="/node_modules/@@aiursoft/uistack/dist/img/flags/us.png" alt="English" width="20" class="align-middle me-1"/>
            <span class="align-middle">English</span>
        </a>
        <a class="dropdown-item" href="#">
            <img src="/node_modules/@@aiursoft/uistack/dist/img/flags/es.png" alt="Spanish" width="20" class="align-middle me-1"/>
            <span class="align-middle">Spanish</span>
        </a>
        <a class="dropdown-item" href="#">
            <img src="/node_modules/@@aiursoft/uistack/dist/img/flags/de.png" alt="German" width="20" class="align-middle me-1"/>
            <span class="align-middle">German</span>
        </a>
        <a class="dropdown-item" href="#">
            <img src="/node_modules/@@aiursoft/uistack/dist/img/flags/nl.png" alt="Dutch" width="20" class="align-middle me-1"/>
            <span class="align-middle">Dutch</span>
        </a>
    </div>
</li>