@model Aiursoft.UiStack.Views.Shared.Components.MegaMenu.MegaMenuViewModel

@* Mega menu *@
<ul class="navbar-nav">
    <li class="nav-item px-2 dropdown d-none d-sm-inline-block">
        <a class="nav-link dropdown-toggle" href="#" id="megaDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.MenuName
        </a>
        <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="megaDropdown">
            <div class="d-md-flex align-items-start justify-content-start">
                @foreach (var dropDown in Model.DropDowns)
                {
                    <div class="dropdown-mega-list">
                        <div class="dropdown-header">@dropDown.Header</div>
                        @foreach (var link in dropDown.Links)
                        {
                            <a class="dropdown-item" href="@link.Href">@link.Text</a>
                        }
                    </div>
                }
            </div>
        </div>
    </li>
</ul>