@model Aiursoft.UiStack.Views.Shared.Components.SearchForm.SearchFormViewModel

<form class="d-none d-sm-inline-block" action="@Model.SearchUrl" method="get">
    <div class="input-group input-group-navbar">
        <input type="text" class="form-control" placeholder="@Model.Placeholder" aria-label="Search" name="@Model.SearchParam" autofocus="autofocus">
        <button class="btn" type="button">
            <i class="align-middle" data-lucide="search"></i>
        </button>
    </div>
</form>