@model Aiursoft.UiStack.Views.Shared.Components.Sidebar.SidebarViewModel

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        @if (Model.SideLogo != null)
        {
            <vc:side-logo model="@Model.SideLogo"></vc:side-logo>
        }
        @if (Model.SideMenu != null)
        {
            <vc:side-menu model="@Model.SideMenu"></vc:side-menu>
        }
        @if (Model.SideAdvertisement != null)
        {
            <vc:side-advertisement model="@Model.SideAdvertisement"></vc:side-advertisement>
        }
    </div>
</nav>