<style>
    .hidden {
        display: none;
    }
</style>


<h1 class="h3 mb-3">Manhours</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Badge Generator</h5>
                <h6 class="card-subtitle text-muted">Enter the clone url of your git repository to generate a badge for your project.</h6>
            </div>
            <div class="card-body">
                <form method="post" id="manhours-form">
                    <div class="form-group">
                        <label for="cloneUrl">
                            <i class="fa-brands fa-git-alt"></i>
                            HTTP Clone URL
                        </label>
                        <input type="text" class="form-control" id="cloneUrl" name="cloneUrl"
                               placeholder="https://gitlab.aiursoft.com/aiursoft/Manhours.git">
                    </div>

                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="directMode" name="directMode">
                        <label class="form-check-label" for="directMode">
                            Direct mode (Without proxy from img.shields.io)
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Generate</button>

                    <div class="mt-3 hidden" id="result">
                        <label for="preview">Preview</label>
                        <div class="form-group" id="preview">
                            <i class="fas fa-spinner fa-spin hidden" id="loading-icon"></i>
                            <img alt="Man hours icon" id="preview-img"
                                 src="https://img.shields.io/endpoint?url=https%3A%2F%2Fmanhours.aiursoft.com%2Fgitlab%2Fgitlab.aiursoft.com%2Faiursoft%2Fmanhours.json"/>
                        </div>

                        <label for="markdown" class="mt-3">Markdown</label>
                        <textarea id="markdown" class="form-control" rows="3" readonly></textarea>

                        <label for="html" class="mt-3">HTML</label>
                        <textarea id="html" class="form-control" rows="3" readonly></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("manhours-form");
            
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                // Prepare
                const markdown = document.getElementById("markdown");
                const html = document.getElementById("html");
                const result = document.getElementById("result");
                const previewImg = result.querySelector("#preview-img");
                
                // Hide result
                result.classList.add("hidden");
                previewImg.src = "";

                // Get Input
                const directMode = document.getElementById("directMode").checked;
                let cloneUrl = document.getElementById("cloneUrl").value;

                // Check
                if (!cloneUrl) {
                    alert("Please input the clone url!");
                    return;
                }

                // if clone Url ends with .git, remove it.
                if (cloneUrl.endsWith(".git")) {
                    cloneUrl = cloneUrl.substring(0, cloneUrl.length - 4);
                }

                // if clone Url starts with https://, remove it.
                if (cloneUrl.startsWith("https://")) {
                    cloneUrl = cloneUrl.substring(8);
                }

                let imgLink;
                if (directMode) {
                    cloneUrl += ".svg";
                    imgLink = "@(Context.Request.Scheme)://@(Context.Request.Host)/" + "r/" + cloneUrl;
                } else {
                    cloneUrl += ".json";
                    cloneUrl = encodeURIComponent(cloneUrl);
                    imgLink = "https://img.shields.io/endpoint?url=@(Context.Request.Scheme)%3A%2F%2F@(Context.Request.Host)%2F" + "r" + "%2F" + cloneUrl;
                }

                const markdownVal = "![Man hours](" + imgLink + ")";
                const htmlVal = "<img alt=\"Man hours\" src=\"" + imgLink + "\" />";
                markdown.value = markdownVal;
                html.value = htmlVal;
                
                // Handle preview
                previewImg.src = imgLink;
                const loadingIcon = result.querySelector("#loading-icon");
                loadingIcon.classList.remove("hidden");
                previewImg.classList.add("hidden");
                previewImg.onload = function () {
                    loadingIcon.classList.add("hidden");
                    previewImg.classList.remove("hidden");
                };

                // Show result
                result.classList.remove("hidden");
            });
        });
    </script>
}
