<style>
    .hidden {
        display: none;
    }
</style>


<main role="main" class="container">
    <form method="post" class="mt-5">
        <div class="form-group mt-3">
            <label for="cloneUrl">
                <i class="fa-brands fa-git-alt"></i>
                HTTP Clone URL
            </label>
            <input type="text" class="form-control" id="cloneUrl" name="cloneUrl"
                placeholder="https://gitlab.aiursoft.cn/aiursoft/Manhours.git">
        </div>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="directMode" name="directMode">
            <label class="form-check-label" for="directMode">
                Direct mode (Without proxy from img.shields.io)
            </label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Generate</button>

        <div class="mt-3 hidden" id="result">
            <label for="preview">Preview</label>
            <div class="form-group" id="preview">
                <img alt="Man hours icon" id="preview-img"
                    src="https://img.shields.io/endpoint?url=https%3A%2F%2Fmanhours.aiursoft.cn%2Fgitlab%2Fgitlab.aiursoft.cn%2Faiursoft%2Fmanhours.json" />
            </div>

            <label for="markdown" class="mt-3">Markdown</label>
            <textarea id="markdown" class="form-control" rows="3" readonly></textarea>

            <label for="html" class="mt-3">HTML</label>
            <textarea id="html" class="form-control" rows="3" readonly></textarea>
        </div>
    </form>
</main>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("form").addEventListener("submit", function (e) {
                e.preventDefault();

                // Prepare
                const result = document.getElementById("result");
                const previewImg = result.querySelector("#preview-img");
                const markdown = document.getElementById("markdown");
                const html = document.getElementById("html");

                // Get Input
                const directMode = document.getElementById("directMode").checked;
                let cloneUrl = document.getElementById("cloneUrl").value;

                // Clean up
                result.classList.add("hidden");

                // Check
                if (!cloneUrl) {
                    alert("Please input the clone url!");
                    return;
                }

                // if clone Url ends with .git, remove it.
                if (cloneUrl.endsWith(".git")) {
                    cloneUrl = cloneUrl.substring(0, cloneUrl.length - 4);
                }

                if (cloneUrl.startsWith("https://")) {
                    cloneUrl = cloneUrl.substring(8);
                }

                let imgLink;
                if (directMode) {
                    cloneUrl += ".svg";
                    imgLink = "@(Context.Request.Scheme)://@(Context.Request.Host)/" + "r/" + cloneUrl;
                } else {
                    cloneUrl += ".json";
                    cloneUrl = encodeURIComponent(cloneUrl);
                    imgLink = "https://img.shields.io/endpoint?url=@(Context.Request.Scheme)%3A%2F%2F@(Context.Request.Host)%2F" + "r" + "%2F" + cloneUrl;
                }

                const markdownVal = "![Man hours](" + imgLink + ")";
                const htmlVal = "<img alt=\"Man hours\" src=\"" + imgLink + "\" />";

                previewImg.src = imgLink;
                markdown.value = markdownVal;
                html.value = htmlVal;

                // Show result
                result.classList.remove("hidden");
            });
        });
    </script>
}
