@model Aiursoft.UiStack.Views.Shared.Components.MessagesDropdown.MessagesDropdownViewModel

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle text-body" data-lucide="message-circle"></i>
            <span class="indicator">4</span>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
        <div class="dropdown-menu-header">
            <div class="position-relative">
                4 New Messages
            </div>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="img/avatars/avatar-5.jpg" class="img-fluid rounded-circle" alt="Ashley Briggs" width="40" height="40">
                    </div>
                    <div class="col-10 ps-2">
                        <div>Ashley Briggs</div>
                        <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                        <div class="text-muted small mt-1">15m ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle" alt="Carl Jenkins" width="40" height="40">
                    </div>
                    <div class="col-10 ps-2">
                        <div>Carl Jenkins</div>
                        <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                        <div class="text-muted small mt-1">2h ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="img/avatars/avatar-4.jpg" class="img-fluid rounded-circle" alt="Stacie Hall" width="40" height="40">
                    </div>
                    <div class="col-10 ps-2">
                        <div>Stacie Hall</div>
                        <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                        <div class="text-muted small mt-1">4h ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle" alt="Bertha Martin" width="40" height="40">
                    </div>
                    <div class="col-10 ps-2">
                        <div>Bertha Martin</div>
                        <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
                        <div class="text-muted small mt-1">5h ago</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all messages</a>
        </div>
    </div>
</li>