@model Aiursoft.UiStack.Views.Shared.Components.SideAdvertisement.SideAdvertisementViewModel

<div class="sidebar-cta">
    <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">@Model.Title</strong>
        <div class="mb-3 text-sm">
            @Model.Description
        </div>

        <div class="d-grid">
            <a href="@Model.Href" class="btn btn-primary" target="_blank">
                @Model.ButtonText
            </a>
        </div>
    </div>
</div>
