@model Aiursoft.UiStack.Views.Shared.Components.NavLogo.NavLogoViewModel

<a class="sidebar-brand" href="@Model.Href">
    <img src="@Model.LogoUrl" class="img-fluid" style="height: 24px;margin-right: .15rem;width: 24px;" alt="logo">
    <span class="align-middle me-3">@Model.AppName</span>
</a>