@model Aiursoft.UiStack.Components.MegaMenu.MegaMenuViewModel

@* Mega menu *@
<ul class="navbar-nav">
    <li class="nav-item px-2 dropdown d-none d-sm-inline-block">
        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mega menu
        </a>
        <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="servicesDropdown">
            <div class="d-md-flex align-items-start justify-content-start">
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">UI Elements</div>
                    <a class="dropdown-item" href="#">Alerts</a>
                    <a class="dropdown-item" href="#">Buttons</a>
                    <a class="dropdown-item" href="#">Cards</a>
                    <a class="dropdown-item" href="#">Carousel</a>
                    <a class="dropdown-item" href="#">General</a>
                    <a class="dropdown-item" href="#">Grid</a>
                    <a class="dropdown-item" href="#">Modals</a>
                    <a class="dropdown-item" href="#">Tabs</a>
                    <a class="dropdown-item" href="#">Typography</a>
                </div>
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">Forms</div>
                    <a class="dropdown-item" href="#">Layouts</a>
                    <a class="dropdown-item" href="#">Basic Inputs</a>
                    <a class="dropdown-item" href="#">Input Groups</a>
                    <a class="dropdown-item" href="#">Advanced Inputs</a>
                    <a class="dropdown-item" href="#">Editors</a>
                    <a class="dropdown-item" href="#">Validation</a>
                    <a class="dropdown-item" href="#">Wizard</a>
                </div>
                <div class="dropdown-mega-list">
                    <div class="dropdown-header">Tables</div>
                    <a class="dropdown-item" href="#">Basic Tables</a>
                    <a class="dropdown-item" href="#">Responsive Table</a>
                    <a class="dropdown-item" href="#">Table with Buttons</a>
                    <a class="dropdown-item" href="#">Column Search</a>
                    <a class="dropdown-item" href="#">Muulti Selection</a>
                    <a class="dropdown-item" href="#">Ajax Sourced Data</a>
                </div>
            </div>
        </div>
    </li>
</ul>